@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="my-3">
        Alunos cadastrados:
    </div>   
    <div class="my-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
    </div>  

    
    <div class="my-3">
        Alunos cadastrados:
    </div>
    <table class="table">
        <thead>
            <tr>

                <th scope="col">RA</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Editar</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
            </tr>
        </tbody>
    </table>
    <section class="grid grid-Card">
        <div class="border container-card">
            <div class="container">
                <div class="row">
                    <div class="col-3 ">
                        <i class="fas fa-user-circle img"></i>
                    </div>    
                    <div class="col-9">
                        <div class="row">
                            <div class="col">
                                <span class="fw-bold">
                                    Nome do cara
                                </span>
                            </div>                     
                        </div>       
                        <div class="row">
                            <div class="col">
                                <span class="bold">
                                    Nome do cara
                                </span>
                            </div>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="border container-card">
            <div class="container">
                <div class="row">
                    <div class="col-3 ">
                        <i class="fas fa-user-circle img"></i>
                    </div>    
                    <div class="col-9">
                        <div class="row">
                            <div class="col">
                                <span class="fw-bold">
                                    Nome do cara
                                </span>
                            </div>                     
                        </div>       
                        <div class="row">
                            <div class="col">
                                <span class="bold">
                                    Nome do cara
                                </span>
                            </div>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>
<style>
    .grid {
      display: grid;
      padding: 2em;
      counter-reset: grid-items;
      position: relative;
    }

    .grid::before {
      position: absolute;
      padding-left: 3em;
      content: attr(data-keyword);
    }
    .grid-Card{
        grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
        
        grid-gap: 9px;

        grid-auto-flow: column;
    }
    .container-card{
        background-color: white;
        border-width: 0px 0px 0px 3px !important;
        border-color: purple !important;
        border-radius: 5px;
    }
    .img{
        font-size:35px;
    }


</style>