@{
    ViewData["Title"] = "Cadastro Professor";
}

<div class="container">
    <div class="my-3">
        @ViewData["Title"]
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome do Professor</label>
                <input type="text" class="form-control" id="Nome" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="Campus" class="form-label">Campus</label>
                <input type="text" class="form-control" id="Campus" aria-describedby="emailHelp">
            </div>

            <button id="BotaoAluno" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            $("#BotaoAluno").click(function () {

                var aluno = {
                    Nome: document.querySelector("#Nome").value,
                    Campus: document.querySelector("#Campus").value,
                }

                PostData('@Url.Action("CriarProf", "Home")', aluno, sucess)
            })
            function sucess(result) {

                console.log(result)
                console.log("Foi poha")
            }

        })



    </script>
}