
@{
    ViewData["Title"] = "Cadastro Aluno";
}

<div class="container">
    <div class="my-3">
        @ViewData["Title"]
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome</label>
                <input type="text"   class="form-control" id="Nome" aria-describedby="emailHelp">
            </div>       

            <div class="mb-3">
                <label for="Email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
            </div>          
            <div class="mb-3">
                <label for="Campus" class="form-label">Campus</label>
                <input type="text" class="form-control" id="Campus" aria-describedby="emailHelp">
            </div>     
            <div class="mb-3">
                <label for="Cpf" class="form-label">Cpf</label>
                <input type="text" class="form-control" id="Cpf" aria-describedby="emailHelp">
            </div>         
            <div class="mb-3">
                <label for="Telefone" class="form-label">Telefone</label>
                <input type="number" class="form-control" id="Telefone" aria-describedby="emailHelp">
            </div>       
            <div class="mb-3">
                <label for="Sexo" class="form-label">Sexo</label>
                <input type="text" class="form-control" id="Sexo" aria-describedby="emailHelp">
            </div>      
            <div class="mb-3">
                <label for="Endereco" class="form-label">Endereco</label>
                <input type="text" class="form-control" id="Endereco" aria-describedby="emailHelp">
            </div>

            <button  id="BotaoAluno" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });

            $("#BotaoAluno").click(function () {

                var aluno = {
                    Nome: document.querySelector("#Nome").value,
                    Email: document.querySelector("#Email").value,
                    Campus: document.querySelector("#Campus").value,
                    Cpf: document.querySelector("#Cpf").value,
                    Telefone: document.querySelector("#Telefone").value
                }

                PostData('@Url.Action("CriarAluno", "Home")', aluno, sucess)
            })
            function sucess(result) {

                console.log(result)
                console.log("Foi poha")
            }

        })



    </script>
}